body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: url("./assets/image/background.jpg") no-repeat center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: cover;
  -o-background-size: cover;
}

button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Modal__Body--open {
  overflow-y: hidden;
}

.title {
  color: #16acc9;
  font-family: "GetSchwifty";
  font-size: 5rem;
  text-shadow: black 2px 5px 5px;
  -webkit-text-stroke: 2px #d2da4b;
}

#characters :hover {
  transform: scale(1.1);
}

.montserrat {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.custom {
  color: black;
  font-family: "GetSchwifty";
}

@font-face {
  font-family: "GetSchwifty";
  src: local("GetSchwifty"), url(./Fonts/get_schwifty.ttf) format("truetype");
}
